div.container{
    background-color: lightsalmon;
    
    display: flex;
    flex-direction: row;
    flex-wrap:row wrap-reverse;
}
div.item{
    background-color: lightseagreen;
    border: 1px solid black;
    text-align: center;
    flex: auto;
}
/* OBS: Primeiros Estudos Sobre Flex-box o_o*/
/*Segundo As ordens Do prof° guanabara Modulo 5 de html e css*/